$background: #f5f5f5;

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  background-color: $background;
  padding: 20px 0;
}

.form {
  input, button {
    border: 1px solid #666;
    border-radius: 2px;
    margin: 0 5px;
    padding: 10px 15px;
  }

  button {
    cursor: pointer;
    font-weight: 700;

    &:hover {
      background-color: #999;
    }
  }
}

.message {
  padding: 10px;
}
